


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@mixin gridCenter {
    display: grid;
    place-items: center;
}

$eleBlack:rgba(30,30,30,1);
$backColor: linear-gradient(to right, #0f0c29, #302b63, #24243e);
$wraperColor: linear-gradient(to right, #fffbd5, #b20a2c);
$specialGreen: rgb(155, 243, 199);
$nickelodeon: rgb(244, 109, 37);